<a href="https://colab.research.google.com/github/quangnhat1395/python-dataviz-course/blob/master/Tuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trong Python, để xây dựng thuật toán, người ta thường sử dụng các cấu trúc điều hướng như `if - elif - if`, hoặc các cấu trúc lặp như `for`, `while`. Trong bài này, ta sẽ tìm hiểu những cấu trúc đó.

# Câu lệnh `if - elif - else`

Câu lệnh <code>if</code> trong Python cho phép ta yêu cầu máy tính thực hiện một số câu lệnh dựa trên một tập kết quả cho trước.

Đầu tiên, hãy thử xem xét cấu trúc <code>if</code> dưới đây:

    if Dieu_kien_1:
        Cau_lenh_1
    elif Dieu_kien_2:
        Cau_lenh_2
    else: 
        Cau_lenh_3

Ở đây, ta thấy, nếu `Dieu_kien_1` được thoả, máy tính sẽ tiến hành chạy `Cau_lenh_1`, còn nếu nó thoả `Dieu_kien_2`, khi đó, `Cau_lenh_2` sẽ được thực hiện. Trong trường hợp cả 2 điều kiện ở trên đều không thoả, máy tính sẽ thực hiện `Cau_lenh_3`.

Ta hãy thử xem xét ví dụ dưới đây:

## Ví dụ 1

Ta cần in ra dòng chữ "x co gia tri la 1", nếu x = 1.

**Lưu ý**: Trong Python, điều kiện x = 1 trong câu lệnh được biểu diễn bằng hai dấu "=". Nếu chỉ ghi "x = 1", thì đây là phép gán 1 cho x.

In [2]:
x = 1
if x==1:
    print('x co gia tri la 1')

x co gia tri la 1

Ta thử xét thêm trường hợp $x\neq 1$, in ra dòng chữ "x khac 1" như dưới đây:

In [4]:
x = 2

if x == 1:
    print('x co gia tri la 1')
else:
    print('x khac 1')

x khac 1

## Lệnh `elif` trong Python

Trong trường hợp có nhiều hơn 2 điều kiện của biến, chúng ta sử dụng lệnh `elif` để thêm các điều kiện giữa `if` và `else`. Điều này giúp ta dễ quản lý các đoạn code của mình hơn. Chẳng hạn, ta xét ví dụ dưới đây:

## Ví dụ 2

Nhập vào 2 giá trị $x$ và $y$. Nếu $x = y$, trả về kết quả "x bang y", nếu $x>y$, trả về kết quả "x lon hon y", còn lại, trả về kết quả "x nho hon y".

Ở ví dụ này, nếu không sử dụng lệnh `elif`, ta phải tiến hành gộp 2 lần `if - else` như sau:

In [7]:
x = 5
y = 4
if x == y:
  print("x bang y")
else:
  if x > y:
    print("x lon hon y")
  else:
    print("x nho hon y")

x lon hon y

Ta có thể sử dụng lệnh `elif` để đơn giản đoạn code trên hơn như sau:

In [8]:
x = 5
y = 4
if x == y:
  print("x bang y")
elif x > y:
    print("x lon hon y")
else:
    print("x nho hon y")

x lon hon y

# Vòng lặp `for`

Trong Python, khi phải thực hiện một dòng lệnh (hoặc cụm lệnh) nào đó nhiều lần, ta có thể sử dụng vòng lặp `for` như sau:

```
for item in object:
        Cau_lenh
```
Ở đây, ta sẽ xét tất cả các 'item' (thường được gọi là biến chạy) nằm trong 'object' và thực hiện các `Cau_lenh` nằm trong vòng lặp `for`. Trong đó, 'object' có thể mang kiểu dữ liệu list, dict, set, tuple,...

Cụ thể, ta xét ví dụ dưới đây:

In [10]:
#In ra các phần tử trong list 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [11]:
#In ra cac ki tu trong chuoi
for x in "banana":
  print(x)

b
a
n
a
n
a

##Lệnh break
Nếu muốn dừng vòng lặp theo ý mình, có thể sử dụng lệnh `break` như sau:

In [13]:
#Dung vong lap khi x = banana
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

##Lệnh continue
Khi muốn dừng vòng lặp tại một điểm nào đó, và tiếp tục ở điểm kế tiếp, ta sử dụng lệnh `continue`. Chẳng hạn như sau:

In [14]:
#Khong in ra gia tri banana
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## Lệnh range()

Để tiến hành lặp với một số lần nhất định cho trước, ta có thể sử dụng lệnh `range`. Hàm `range(n)` trả về một dãy các số, bắt đầu từ 0, kết thúc ở n - 1. Hàm `range(m, n)` sẽ trả về dãy số bắt đầu từ m, kết thúc ở n-1.

Ta xem xét ví dụ dưới đây:

In [15]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [16]:
for x in range(2, 6):
  print(x)

2
3
4
5

# Vòng lặp while

Khác với vòng lặp for, vòng lặp while thường được sử dụng khi không biết chính xác số vòng lặp.

Cấu trúc tổng quát của vòng lặp while như sau:


```
while Dieu_kien:
  Cau_lenh_1
else:
  Cau_lenh_2
```
Ở đây, máy sẽ kiểm tra nếu `Dieu_kien` thoả, nó sẽ thực hiện các `Cau_lenh_1`, còn không thoả, máy sẽ tiến hành thực hiện `Cau_lenh_2`.

Ta xem xét ví dụ dưới đây:

In [17]:
x = 0

while x < 5:
    print('x is currently: ',x)
    print(' x is still less than 5, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 5, adding 1 to x
x is currently:  1
 x is still less than 5, adding 1 to x
x is currently:  2
 x is still less than 5, adding 1 to x
x is currently:  3
 x is still less than 5, adding 1 to x
x is currently:  4
 x is still less than 5, adding 1 to x
All Done!

Tương tự, các câu lệnh `break, continue` vẫn có thể sử dụng trong vòng lặp while. Chẳng hạn, ở ví dụ dưới đây:

In [18]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

**Chú ý**: Trong vòng lặp while, cần kiểm soát điều kiện dừng, vì có thể dẫn tới tình trạng lặp vô hạn lần. Chẳng hạn như ví dụ dưới đây

In [ ]:
# DO NOT RUN THIS CODE!!!! 
while True:
    print("I'm stuck in an infinite loop!")

# Phân tích dữ liệu với pandas

## Tách một dataFrame
Đầu tiên, ta tiến hành import các thư viện cần thiết:

In [23]:
# Import packages and set visualization style
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

Tiếp theo, ta thử tạo bộ dữ liệu dataFrame ngẫu nhiên như sau:

In [30]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.845414  0.366514  0.729946 -0.605936
1  2.377305 -0.355096 -0.396565 -0.419888
2 -1.207315  0.505627 -0.129222  0.055994
3 -0.777510  0.462492 -0.124346 -1.853105
4 -0.390814 -0.337384 -0.315292 -0.045710
5  0.212578  0.150169 -0.217418  0.567705
6  0.547657  0.071664 -0.264882 -1.964389
7  0.689891  0.688959 -2.778321  0.335685
8  0.426844 -0.092391 -0.022044  0.849567
9 -0.400668 -0.417913  0.350527  1.798075

In [33]:
pieces = [df[:3], df[5:7]]
#tach dataFrame thanh 2 phan dong 0--> 2 va 5-->6

In [35]:
pd.concat(pieces)
#noi 2 phan vua tach

          0         1         2         3
0 -0.845414  0.366514  0.729946 -0.605936
1  2.377305 -0.355096 -0.396565 -0.419888
2 -1.207315  0.505627 -0.129222  0.055994
5  0.212578  0.150169 -0.217418  0.567705
6  0.547657  0.071664 -0.264882 -1.964389

Ngoài ra, ta có thể nối 2 bộ dữ liệu dataFrame bằng lệnh `merge` như sau:

In [37]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [38]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [39]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

## Group by trong Python
Khi đề cập đến Group by, tức là ta đang nhắc đến một quy trình gồm nhiều bước dưới đây:

1.  Chia dữ liệu thành các nhóm dựa trên một số tiêu chí
2.  Áp dụng các hàm tính toán cho từng nhóm một cách độc lập
3.  Kết hợp các kết quả thành một cấu trúc dữ liệu

Chẳng hạn, với một dataFrame như sau:

In [43]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one  1.306349  1.646776
1  bar    one -0.535545  0.085232
2  foo    two  0.906716 -0.779865
3  bar  three  0.194231  0.814457
4  foo    two -0.265594 -0.584221
5  bar    two  0.264933 -0.256854
6  foo    one -0.091046 -0.596817
7  foo  three -0.574646 -0.136811

In [44]:
 #Grouping and then applying the sum() function to the resulting groups.
 df.groupby('A').sum()

            C         D
A
bar -0.076381  0.642835
foo  1.281780 -0.450939

In [45]:
#Grouping by multiple columns forms a hierarchical index, and again we can apply the sum() function.
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.535545  0.085232
    three  0.194231  0.814457
    two    0.264933 -0.256854
foo one    1.215304  1.049958
    three -0.574646 -0.136811
    two    0.641122 -1.364086

#Bài tập trên lớp

1. Dùng lệnh để for và while tính giai thừa:
$$n! = 1\times 2\times ...\times (n-1)\times n$$
2. Tính tổng sau bằng cả for và while:
$$\sum_{k = 5}^{20}\dfrac{k^2}{k-1}$$
3. Đặt:
$$s_n = \sum_{k = 1}^nk$$
Tính tổng dưới đây bằng cả for và while:
$$\sum_{n = 1}^{10}s_n$$
4. Viết chương trình tính tổng các số chia hết cho 3 và nhỏ hơn 50 bằng hai cách.
5. Nhập vào một số nguyên dương n, dùng lệnh while để tính tổng dưới đây:
$$\sum_{k = 1}^n\dfrac{1}{k}$$
6. Tìm giá trị lớn nhất của n để:
$$\sum_{k = 1}^nk^2 <100 $$

7. Tạo một dataFrame $10\times 4$ thực, ngẫu nhiên. Sau đó thực hiện các yêu cầu sau:
* Vẽ histogram của cột 2.
* Tách và gộp các cột 2, 3, 6 thành một dataFrame mới. Đặt tên các cột mới là A, B, C.
* Phân cụm dữ liệu ở cột A thành 2 cụm $<0, \geq 0$.

#Bài tập về nhà
1. Nhập vào một số nguyên dương bất kỳ, kiểm tra xem số đó có phải là số nguyên tố hay không.
2. Tính tổ hợp $n$ chập $k$ $(k\leq n)$, với $n, k$ được nhập từ bàn phím.
3. Tính tổng của 10 số Fibonaci đầu tiên. (Dãy Fibonaci là dãy có 2 phần tử đầu tiên là 1, các phần tử sau đó là tổng của 2 phần tử trước đó: 1, 1, 2, 3, 5, ...).
4. Nhập vào một vecto dương. Tính các tổng dưới đây:


*   Tổng các phần tử chẵn
*   Tổng các phần tử lẻ
*   Tổng các số chính phương
*   Tổng các số nguyên tố.
5. Cho một vecto bất kì, đếm xem trong đó có bao nhiêu phần tử âm, bao nhiêu phần tử dương, bao nhiêu phần tử bằng 0.
6. Tải bộ dữ liệu của Netflix ở [đây](https://data.world/chasewillden/netflix-shows). Tiến hành group by bộ data trên theo cột release_year. Sau đó vẽ biểu đồ scatter, với x là là release_year, y là median rating.